<template>
  <v-container>
    <v-layout wrap>
      <v-flex xs12 mr-1 ml-1>
        <v-card>
          <v-card-title>
            <div>
              <h3>{{ currenttemp }} &deg;C
              </h3>
              <h3>{{ description }}</h3>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  // props: ["cityname"],
  data() {
    return {
      results: [],
      currenttemp: "",
      description: "",
    };
  },

  created() {
    // let cityname = sessionStorage.getItem("cityname");
    let cityname = this.$route.params.cityname;
    // console.log(cityname);
    const url =
      "http://api.openweathermap.org/data/2.5/weather?q="+cityname+"&units=metric&appid=5299e83c9cf2fef510fb8ddaa3206ac8";
    axios
      .get(url)
      .then((res) => {
        console.log(res.data);
        // console.log(this.$route.query.cityname);
        console.log(JSON.stringify(this.$route.params.cityname));
        this.currenttemp = res.data.main.temp;
        this.description = res.data.weather[0].description;
      })
      .catch((error) => console.log(error));
  },
  // methods: {
  //   fetchdata() {
  //     // let url =
  //     //   "http://api.openweathermap.org/data/2.5/weather?q=London&?units=metric&APPID={5299e83c9cf2fef510fb8ddaa3206ac8}";
  //     axios
  //       .get(
  //         "http://api.openweathermap.org/data/2.5/weather?q={cityname}&?units=metric&appid={5299e83c9cf2fef510fb8ddaa3206ac8}"
  //       )
  //       .then((response) => {
  //         // this.currentTemp = response.data;
  //         console.log(response.data);
  //         return response.data;
  //         // this.overcast = response.weather[0].description;
  //         // // console.log(this.$router.params)
  //       })

  //       .catch((error) => {
  //         console.log(error);
  //       });
  //   },
  // },
};
</script>
