
<template>
  <v-app>
    <v-container>
      <h1 class="font-weight-bold">Weather</h1>
      <p class="font-weight-medium">Use this site to get your weather</p>
      <v-card-actions>
        <v-flex xs12 sm6 md2>
          <v-text-field label="City Name" v-model="cityname"
            >Weather search</v-text-field
          >
        </v-flex>
        <v-flex class="ml-6">
          <v-btn small @click="searchWeather">
            <span>Search</span>
          </v-btn>
        </v-flex>
      </v-card-actions>
      
      <v-main>
        <router-view></router-view>
      </v-main>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      cityname: "",
    };
  },
 provide(){
   return{
     cityname: this.cityname
   }
 },
   methods: {
    searchWeather() {
      // sessionStorage.setItem('cityname',this.cityname);
      // this.$router.push("/search/" + this.cityname); 
      // this.$router.push({ path: '/search/' + this.cityname, query: { cityname :this.cityname } })
      this.$router.push({ path: '/search/' + this.cityname})

      console.log(this.cityname);
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
</style>
